@font-face {
    font-family: myFont1;
    src: url(../fonts/Jura-Light.ttf);
}

@font-face {
    font-family: myFont2;
    src: url(../fonts/Suissnord.otf);
}

* {
    box-sizing: border-box;
}

.mouse1 {
    background-color: rgb(10, 10, 10);
    background-image: linear-gradient(rgb(10, 10, 10), black);
    color: white;
    overflow-x: hidden;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: myFont1;
}

.background img {
    opacity: 5%;
    width: 100%;
    z-index: -1;
    position: fixed;
}

.background .MrPC {
    rotate: 90deg;
    width: 40vw;
    bottom: 3vh;
    left: -10vw;
}

.background .GameOn {
    width: 30vw;
    top: 0vh;
    right: 0vw;
}

.background .Element02 {
    rotate: 180deg;
    width: 60vw;
    bottom: -8vh;
    right: -1vw;
}

.background .Element03 {
    rotate: -180deg;
    width: 40vw;
    top: -5vh;
    left: -2vw;
}

.mouse1 .container {
    margin-top: 15vh;
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 300px 100px 100px auto 150px;
    grid-auto-rows: 100px;
    gap: 1vh;
    text-transform: uppercase;
    text-align: center;
}

.mouse1 .container .main-image {
    text-indent: -10000px;
    grid-area: 1/ 2/ 2/ 3;
    background-image: url(../pictures/whiteGamingMouse.jpg);
    background-size: cover;
    background-position: center;
    border: 2px solid rgb(255, 0, 153);
}

.mouse1 .container .image-container {
    background-color: rgb(10, 10, 10);
    text-indent: -10000px;
    grid-area: 2/ 2/ 3/ 3;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: space-evenly;
}

.mouse1 .container .image-container div {
    background-image: url(../pictures/logitechMouse.jpg);
    background-size: cover;
    background-position: center;
    border: 2px solid rgb(255, 0, 153);
}

.mouse1 .container .title {
    grid-area: 3/ 1/ 4/ -1;
    padding-top: 4vh;
    font-size: 7vw;
}

.mouse1 .container .description {
    grid-area: 4/ 1/ 5/ -1;
    max-width: 60ch;
    justify-self: center;
}

.mouse1 .container .price {
    color: rgb(255, 0, 153);
    grid-area: 5/ 1/ 6/ -1;
    padding-top: 4vh;
    font-size: 6vw;
}

.mouse1 .container .price span {
    background-color: rgb(255, 0, 153);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}