<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../home/style.css" />
  <link rel="stylesheet" href="pcComponents.css" />
</head>

<body class="pcAccessories">
  <!-- BACKGROUND -->
  <div class="background">
    <img class="MrPC" src="../pictures/Mr.PC_BG.png" alt="pc accessories background" />
    <img class="GameOn" src="../pictures/Game_On_BG.png" alt="pc accessories background" />
    <img class="Element02" src="../pictures/Element02_BG.png" alt="pc accessories background" />
    <img class="Element03" src="../pictures/Element03_BG.png" alt="pc accessories background" />
  </div>
  <!-- HEADER -->
  <div class="header"></div>
  <!-- HEADER 
  <div class="header">
    <div class="section section-1">
      <ul>
        <li><a href="../home/test2.html">home.</a></li>
        <li>
          <a href="../accessories/pcAccessories.html"> pc accessories. </a>
        </li>
        <li><a href="../laptops/laptops.html">laptops.</a></li>
      </ul>
    </div>
    <div class="section section-2">
      <a href="../home/test2.html">
        <img src="../pictures/pngLOGO.png" alt="Mr.PC logo" />
      </a>
    </div>
    <div class="section section-3">
      <ul>
        <li class="search">
          <img src="../pictures/searchIcon.png" alt="search icon" /> search
        </li>
        <li class="cart">
          <img src="../pictures/cartIcon.png" alt="cart icon" /> cart
        </li>
        <li class="account">
          <img src="../pictures/userIcon.png" alt="account icon" /> account
        </li>
      </ul>
    </div>
  </div>-->
  <!-- TITLE -->
  <div class="title">components</div>
  <!-- CATEGORIES -->
  <div class="container">
    <a href="">
      <div class="processors">processors</div>
    </a>
    <a href="">
      <div class="rams">rams</div>
    </a>
    <a href="">
      <div class="cpuCases">cpu cases</div>
    </a>
  </div>
  <script src="../jQuery/jQuery.js"></script>
  <script src="../home/script.js"></script>
</body>

</html>